graphs/CD1-E_no2/CD1-E-no2_iso3um_stitched_segmentation_bulge_size_3.0_atlas_processed.csv
graphs/CD1-E_no2/CD1-E-no2_iso3um_stitched_segmentation_bulge_size_3.0_edges_processed.csv
graphs/CD1-E_no2/CD1-E-no2_iso3um_stitched_segmentation_bulge_size_3.0_nodes_processed.csv
